.sideimage{
    background-size:100% 100%;
    background-image: url('https://www.kindpng.com/picc/m/5-56928_border-vector-waves-border-vector-png-transparent-png.png');
    background-repeat:no-repeat;
  
}